.dialogs {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs-items {

}

.dialog {
    padding: 10px;
    vertical-align: center;
}
.dialog img {
    height: 50px;
    border-radius: 25px;
}

.messages {

}

.message {
    padding: 10px;
}